@import 'reset.css';

html, body {
  height: 100%;
}

body  {
  font: 16px verdana;
  color: #000;
  background: #808080;
}

.page {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  max-width: 1024px;
  min-height: 100%;
  margin: auto;
  padding: 32px 32px 48px;
}

main {
  background: #fff;
  height: 100%;
}

h1 {
  font: 1.5rem arial, tahoma;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding: 16px 0 8px 0;
}

h2 {
  font: 1.125rem arial;
  text-align: center;
  letter-spacing: 1px;
  height: 36px;
  line-height: 36px;
}

h3 {
  font: bold italic 1.25rem arial;
  border-bottom: 1px dashed #999;
  margin: 48px 0 0px 0;
  padding: 16px 0 8px 0;
  clear: both;

  &.no-border {
    border: none;
  }
}

h4 {
  font: italic 1.2rem arial;
  padding: 8px 0 0 0;
}

a {
  color: #06c;
  text-decoration: none;
}

.box-world {
  width: 256px;
  height: 36px;
  line-height: 36px;
  perspective: 200px;
  margin: 1px auto;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  transform-origin: 50% 50% -18px;

  &:hover {
    transform: rotateX(90deg);
  }
}

.box__side {
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.box__side-front {
  color: #000;
  background: #fff;
  padding: 0 0 0 15px;
}

.box__side-bottom {
  content: 'Back';
  color: #fff;
  background: #404040;
  letter-spacing: 1px;
  text-transform: none;
  transform: translate3D(0, 18px, -18px) rotateX(-90deg);
}

section {
  font-size: 0.8125rem;
  border-bottom: 0;
  text-align: justify;
  padding: 8px 0 0 32px;
}

.company {
  font-size: 0.8125rem;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 32px 0 0px 0;
  padding: 8px 0;

  li {
    margin: 0 16px 8px 16px;
    padding: 8px 0;

    label {
      font-weight: bold;
      text-align: right;
      width: 256px;
      display: block;
      float: left;
    }

    p {
      text-align: justify;
      margin-left: 256px;
      padding: 0 16px 0 8px;
    }
  }

  .project  {
    background: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 8px;
  }
}


.list-item {
  text-align: left;
  line-height: 24px;
  padding: 0 16px;

  &:before {
    content: '';
    background: #000;
    width: 8px;
    height: 8px;
    display: block;
    //margin: 4px 8px 0 0;
    position: relative;
    left: -16px;
    top: 16px;
    transform: rotate(45deg);
    transition: all 0.25s;
  }

  /*
  &:hover {
    transform: rotate(-45deg);
    transition: all 0.25s;
  }
  */
}

.list-item__link {
  cursor: pointer;

  a {
    position: relative;
    transition: all 0.25s;

    &:after {
      content: attr(href);
      width: 100%;
      display: block;
    }
  }

  &:hover a {
    transform: translate(0, -24px);
  }
}

.item-icon {
  height: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  margin: .25rem 0;

  svg {
    margin: 0 8px 0 0;
  }
}

.skills {

  border: none;
  display: flex;
  align-items: flex-start;
  padding: 0;

  ul {
    flex-grow: 1;
    width: 25%;
    margin: 0 2px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  li {
    background: #e8e8e8;
    text-align: center;
    height: 28px;
    line-height: 28px;
    margin: 2px 0;
  }

  .list-title {
    color: #fff;
    font-weight: bold;
    background: #404040;
  }
}

.experience {
  padding: 8px 64px;
}

.timeline-title {
  display: flex;
  height: 32px;
  align-items: center;
}

.timeline-label {
  font: 16px arial, verdana, helvetica;
  color: #fff;
  background: #404040;
  border-radius: 4px 0 0 4px;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  width: 112px;
  height: 32px;
  margin: 0 26px 0 0;

  &:after {
    content: '';
    border-left: 24px solid #404040;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    display: block;
    position: relative;
    width: 0;
    left: 100%;
    top: -32px;
  }
}

.timeline-circle {
  background: #404040;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.timeline-info {
  background: #eee;
  border: 1px solid #c0c0c0;
  border-left: 2px solid #404040;
  //border-radius: 0 8px 8px 0;
  text-align: justify;
  line-height: 24px;
  margin: 0px 0 0 141px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-wrap: wrap;
}

.timeline-info__title {
  font-weight: bold;
  text-align: right;
  flex-basis: 80px;
}

.timeline-info__value {
  width: calc(100% - 80px);
  padding: 0 0 0 8px;
  clear: both;
}

.timeline-info__projects {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #c0c0c0;
  width: 100%;
  padding: 8px;
}

footer {
  background: #404040;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin: 0 8px;

    path {
      fill: #999;
    }

    &:hover {
      path {
        fill: #fff;
      }
    }
  }
}

@media print {
  body {
    background: #fff;
  }

  .page {
    border: none;
    max-width: 100%;
    padding: 32px 0px 48px;
  }

  footer {
    display: none;
  }
}